body {
    margin: 0;
}

.border {
    position: absolute;
    width: 12.5%;
    height: 100%;
    top: 0;
    background-color: #000000;
    overflow: hidden;
}
.border.p1 {
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("assets/sidebar/apm_com_default_1p.bmp");
}
.border.p2 {
    right: 0; 
    top: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("assets/sidebar/apm_com_default_2p.bmp");
}
